**SQL CRUD Codings**

In [ ]:
-- Create Table
CREATE TABLE Users(
    Name varchar(128),
    Email varchar(128)
)

-- Insert Data
INSERT INTO Users(Name, Email) VALUES('DevD', 'dev@gim.com');
INSERT INTO Users(Name, Email) VALUES('Dev Jigna', 'dev@iimraipur.com');
INSERT INTO Users(Name, Email) VALUES('Dev D', 'dev@iimtrichy.com');
INSERT INTO Users(Name, Email) VALUES('DD', 'dev@udaipur.com');
INSERT INTO Users(Name, Email) VALUES('DDev', 'dev@iimranchi.com');
INSERT INTO Users(Name, Email) VALUES('DTemp', 'dev@iift.com')

-- Update Data
UPDATE Users SET Email = 'dev@fms.com' where Name = 'DTemp'

-- Delete Data
Delete from Users where name = 'DTemp'

-- Select Data
SELECT * FROM Users WHERE Name = 'Dev D'
SELECT * FROM Users ORDER BY Email