**Example 1**

Write a program which takes numbers input from the user and prints wether number is even or odd.

In [1]:
#Program to check is number is odd or even
num = int(input("Enter a number:"))

#Check if the number is even
if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

25 is odd.

**Example 2**

Write a program that takes number input from the user and displays all the prime numbers fro 1 to number input given by user.

In [4]:
#Program to display all prime numbers from 1 to number given by user
#taking input from the user
num = int(input("Enter a upper range:"))
print("Prime number between 1 and", num, "are:")
for x in range(1, num + 1):
    #all prime numbers are greater than 1
    if x > 1:
        for i in range(2, x):
            if (x % i) == 0:
                break
        else:
            print(x)

Prime number between 1 and 25 are:
2
3
5
7
11
13
17
19
23

**Example 3**

Write a program that generates 12 random numbers between 0 and 199.

In [7]:
import random
#Generate 12 random numbers between 0 and 199
print("12 randome numbers between 0 and 199 are:")
for x in range(1, 13):
    print("Random number", x, "is =", random.randint(0, 199))

12 randome numbers between 0 and 199 are:
Random number 1 is = 3
Random number 2 is = 153
Random number 3 is = 16
Random number 4 is = 42
Random number 5 is = 122
Random number 6 is = 7
Random number 7 is = 148
Random number 8 is = 38
Random number 9 is = 61
Random number 10 is = 53
Random number 11 is = 57
Random number 12 is = 144

**Example 4**

Write a program to find the largest number among the three numbers

In [9]:
n1 = 10
n2 = 14
n3 = 16

if (n1 > n2) and (n1 > n3):
    largest = n1
elif (n2 > n1) and (n2 > n3):
    largest = n2
else: largest = n3
print("The largest number is", largest)

The largest number is 16

**Example 5**

Write a program which prints a multiplication table from 1 to 10. The number for which the table is create is given by the user.

In [2]:
#Multiplication Table
num = int(input("Enter the number whose table we want to write:"))
print("Multiplication table of", num)
#Iterate 10 times from i = 1 to 10
for i in range(1,11):
    print(num, 'x', i, '=', num * i)

Multiplication table of 56
56 x 1 = 56
56 x 2 = 112
56 x 3 = 168
56 x 4 = 224
56 x 5 = 280
56 x 6 = 336
56 x 7 = 392
56 x 8 = 448
56 x 9 = 504
56 x 10 = 560

**Example 6**

There are seven students whose names are from number 1 to 7. There marks out of 100 in four subjects are given below:<br>
Maths: 65,78,91,34,36,29,45 <br>
Science: 25,50,35,34,76,49,65 <br>
English: 85,78,91,34,96,89,45 <br>
Hindi: 15,18,31,34,25,50,35 <br><br>
Answer the following questions: <br>
a. Create a dataframe of this first column is name of student, and then four columns of marks in each subject. <br>
b. Add Sixth and Seventh column of total and percentage, calculate total and percentage.<br>
c. Add Eight column of Result where we display PASS/FAIL based on Percentage, PASS is displayed if percentage of marks is are more than equal to 40 and FAIL is displayed on rest of the students. <br>
d. Add eighth column of Division display, Division is "FIRST" when percentage of marks are more than equal to 60, Division is "SECOND" when percentage of marks is between 50 and 60. Division is "THIRD" when percentage of marks is between 40 and 50, "FAIL" is displayed for the rest of the students. <br>
e. SORT the datarameby column "DIVISION" <br>
f. SORT the datarameby column "Total" in ascending order<br>
g. df.sort_values(by=['Division]) <br>
h. Filter out those students who have a Percentage of marks equal to 60 <br>
i. Filter out only those students who have third division <br>
j. Extract only division column from the dataframe <br>
k. Extract only Third row from the dataframe <br>
l. Create a new dataframe with name and division only.<br>

In [2]:
import pandas as pd

#Define a dictionary
data = {
    "Name": ['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6', 'Student 7'],
    "Maths": [65,78,91,34,36,29,45],
    "Science": [25,50,35,34,76,49,65],
    "English": [85,78,91,34,96,89,45],
    "Hindi": [15,18,31,34,25,50,35],
}

#Create a DF from the Dictionary
df = pd.DataFrame(data)

#Total Column
df['Total'] = df['Maths'] + df['Science'] + df['English'] + df['Hindi']

#Percentage Column
df['Average'] = df['Total'] * 100 / 400

#Result Column
df['Result'] = df['Average'].apply(lambda x: "Pass" if x >= 40 else "Fail")

#Division Column
def condition(x):
    if x >= 60:
        return "First"
    elif x >= 50 and x < 60:
        return "Second"
    elif x >= 40 and x < 50:
        return "Third"
    else:
        return "Fail"

df['Division'] = df['Average'].apply(condition)

print(df)

        Name  Maths  Science  English  Hindi  Total  Average Result Division
0  Student 1     65       25       85     15    190    47.50   Pass    Third
1  Student 2     78       50       78     18    224    56.00   Pass   Second
2  Student 3     91       35       91     31    248    62.00   Pass    First
3  Student 4     34       34       34     34    136    34.00   Fail     Fail
4  Student 5     36       76       96     25    233    58.25   Pass   Second
5  Student 6     29       49       89     50    217    54.25   Pass   Second
6  Student 7     45       65       45     35    190    47.50   Pass    Third

/tmp/ipykernel_1810/2040478792.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
#Sort by Division
df.sort_values(by=['Division'])

        Name  Maths  Science  English  Hindi  Total  Average Result Division
3  Student 4     34       34       34     34    136    34.00   Fail     Fail
2  Student 3     91       35       91     31    248    62.00   Pass    First
1  Student 2     78       50       78     18    224    56.00   Pass   Second
4  Student 5     36       76       96     25    233    58.25   Pass   Second
5  Student 6     29       49       89     50    217    54.25   Pass   Second
0  Student 1     65       25       85     15    190    47.50   Pass    Third
6  Student 7     45       65       45     35    190    47.50   Pass    Third

In [4]:
#Sort by Total Ascending Order
df.sort_values(by=['Total'], ascending = True)

        Name  Maths  Science  English  Hindi  Total  Average Result Division
3  Student 4     34       34       34     34    136    34.00   Fail     Fail
0  Student 1     65       25       85     15    190    47.50   Pass    Third
6  Student 7     45       65       45     35    190    47.50   Pass    Third
5  Student 6     29       49       89     50    217    54.25   Pass   Second
1  Student 2     78       50       78     18    224    56.00   Pass   Second
4  Student 5     36       76       96     25    233    58.25   Pass   Second
2  Student 3     91       35       91     31    248    62.00   Pass    First

In [5]:
#Filter data for students with percentage equal to 60
dfilter = df[df['Average'] == 60]
print(dfilter)

Empty DataFrame
Columns: [Name, Maths, Science, English, Hindi, Total, Average, Result, Division]
Index: []

In [6]:
#Filter data for Third Division
divfilter = df[df['Division'] == 'Third']
print(divfilter)

        Name  Maths  Science  English  Hindi  Total  Average Result Division
0  Student 1     65       25       85     15    190     47.5   Pass    Third
6  Student 7     45       65       45     35    190     47.5   Pass    Third

In [11]:
#Extract only Division Column
print(df.Division)

0     Third
1    Second
2     First
3      Fail
4    Second
5    Second
6     Third
Name: Division, dtype: object

In [14]:
#Extract only third row
print(df.loc[2])

Name        Student 3
Maths              91
Science            35
English            91
Hindi              31
Total             248
Average          62.0
Result           Pass
Division        First
Name: 2, dtype: object

In [16]:
#Extract only Name and Division
new_df = df[['Name', 'Division']].copy()
print(new_df)

        Name Division
0  Student 1    Third
1  Student 2   Second
2  Student 3    First
3  Student 4     Fail
4  Student 5   Second
5  Student 6   Second
6  Student 7    Third

In [17]:
#Writing data to CSV
df.to_csv('/workspaces/Coding/IIMR Term 1/Introduction/Examples.csv')

**Example 7** <br>
Write a program to calculate the factorial of a number. The number for which factorial is calculated if given by user.

In [20]:
num = int(input("Enter a number:"))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print('Factorial of 0 is 1')
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print('The factorial of', num, 'is', factorial)

The factorial of 5 is 120

**Example 8** <br>
Write a program which takes user input YEAR and then returns that year is leap year or not a leap year

In [23]:
year = int(input("Enter a year:"))

#century year divided by 400 is leap year
if (year % 400 == 0):
    print(year, 'is a leap year')

#year divided by 4 & not divided by 100 is leap year
elif (year % 4 == 0) and (year % 100 != 0):
    print(year, 'is a leap year')

else:
    print(year, 'is not a leap year')

2400 is a leap year

**Example 9** <br>
A list containing alphabets is given below:<br>
Ten = ['B','C','E','G','I','K','M','O','P','S']<br>

Answer the following questions: <br>
a. Create the list and print the list<br>
b. Create a new list which has first 4 alphabets<br>
c. Create a new list which has last 4 alphabets<br>
d. Create a new list which has E to M alphabets<br>
e. Create a new list which has alphabets at odd places<br>
f. Create a new list which has alphabets at even places<br>
g. Create a new list which is reverse the list Ten<br>
h. Create a new list which has first two and last two alphabets<br>

In [34]:
Ten = ['B','C','E','G','I','K','M','O','P','S']
print('Original List', Ten)

#First Four
subf = Ten[:4]
print("First Four", subf)

#Last Four
subl = Ten[-4:]
print("Last Four", subl)

#Middle
mid = Ten[2:7]
print("E to M", mid)

#Odd places
odd = Ten[::2]
print("Odd places", odd)

#Even places
even = Ten[1::2]
print("Even places", even)

#Reverse places
rev = Ten[::-1]
print("Reverse", rev)

#First two and last two
new = Ten[:2] + Ten[-2:]

print('First Two and Last Two', new)

Original List ['B', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'P', 'S']
First Four ['B', 'C', 'E', 'G']
Last Four ['M', 'O', 'P', 'S']
E to M ['E', 'G', 'I', 'K', 'M']
Odd places ['B', 'E', 'I', 'M', 'P']
Even places ['C', 'G', 'K', 'O', 'S']
Reverse ['S', 'P', 'O', 'M', 'K', 'I', 'G', 'E', 'C', 'B']
First Two and Last Two ['B', 'C', 'P', 'S']

Ten numbers are given below:<br>
11,23,13,41,24,35,76,17,28,19 <br>

a. Use lambda function to identify even number from these 10 numbers<br>
b. Use lambda function to calculate square of these 10 numbers<br>
c. Use lambda function to calculate sum of these 10 numbers<br>
d. Find mean, median, mode, sdev and variance of these 10 numbers <br>

In [41]:
from functools import reduce
from statistics import mean, median, mode, stdev, variance
numbers = [11,23,13,41,24,35,76,17,28,19]

#Even
even = list(filter(lambda x: x % 2 == 0, numbers))
print('Even:', even)

#Square
sqr = list(map(lambda x : x ** 2, numbers))
print('Square:', sqr)

#Sum
sum = reduce(lambda x, y: x + y, numbers)
print('Sum:', sum)

u = mean(numbers)
m = median(numbers)
z = mode(numbers)
std = stdev(numbers)
var = variance(numbers)
print('Mean:', u)
print('Median:', m)
print('Mode:', z)
print('stdev:', std)
print('Variance:', var)

Even: [24, 76, 28]
Square: [121, 529, 169, 1681, 576, 1225, 5776, 289, 784, 361]
Sum: 287
Mean: 28.7
Median: 23.5
Mode: 11
stdev: 19.073250611494856
Variance: 363.7888888888889